body {
    font-family: 'Arial', sans-serif;
    margin: 50px;
    padding: 100;
    background-color: #f9f9f9;
    background-image: url(dgeti.jpg);
    background-repeat: 0;
    background-position: center;
    background-size: cover;
}
.menu {
    list-style: none;
    padding: 0;
    background-color: transparent; 
    margin: 0;
    text-align: center;
}
.menu li {
    display: inline-block;
}
.menu li a {
    text-decoration: none;
    color: #121212; 
    padding: 25px;
    display: inline-block;
    transition: color 0.3s ease, background-color 0.3s ease; 
}
.menu li a:hover {
    color: #9b59b6; 
    background-color: #ecf0f1; 
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.menu {
    list-style: none;
    padding: 0;
    background-color: transparent; 
    margin: 0;
    text-align: center;
}
.menu li {
    display: inline-block;
}
.menu li a {
    text-decoration: none;
    color: #141414; 
    padding: 20px;
    display: inline-block;
    transition: color 0.3s ease, background-color 0.3s ease; 
}
